{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "impliedStrict": true
    }
  },
  "env": {
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "jest"
  ]
}
